src/System.Private.Xml/tests/XmlSchema/TestFiles/TestData/import_v12_b.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="ns-b"
xmlns="ns-b">

	<xsd:complexType name="ct-A">
		<xsd:sequence minOccurs="1">
			<xsd:element name="a1" type="xsd:boolean" />
			<xsd:element name="a2" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="e1" type="ct-A" />
	
</xsd:schema>
