src/System.Private.Xml/tests/XmlSchema/TestFiles/TestData/import_v11_a.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="ns-a"
xmlns="ns-a"
>

	<xsd:import namespace="ns-b" schemaLocation="import_v11_b.xsd"/>
	
	<xsd:complexType name="ct-A">
		<xsd:sequence minOccurs="1">
			<xsd:element name="a1" type="xsd:int" />
			<xsd:element name="a2" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="e1" type="ct-A" />
	
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:any namespace="##any" processContents="strict"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>


