src/System.Private.Xml/tests/XmlSchema/TestFiles/TestData/import_v13_c.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="ns-c"
	xmlns="ns-c"
>

	<xsd:import namespace="ns-d" schemaLocation="import_v13_d.xsd"/>
	<xsd:import namespace="ns-a" schemaLocation="import_v13_a.xsd"/>

	<xsd:complexType name="ct-C">
		<xsd:sequence minOccurs="1">
			<xsd:element name="a1" type="xsd:int" />
			<xsd:element name="a2" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="e2" type="ct-C" />

</xsd:schema>


