src/System.Private.Xml/tests/XmlSchema/TestFiles/TestData/import_v17_b.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="ns-a"
xmlns="ns-a">

	<xsd:import namespace="ns-c" schemaLocation="import_v17_c.xsd"/>

	<xsd:complexType name="ct-B">
		<xsd:sequence minOccurs="1">
			<xsd:element name="a1" type="xsd:boolean" />
			<xsd:element name="a2" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="e2" type="ct-A" />
	
</xsd:schema>
