src/System.Private.Xml/tests/XmlSchema/TestFiles/TestData/import_v19_a.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="ns-c"
xmlns="ns-c"
>

	<xsd:import namespace="ns-a" schemaLocation="import_v17_a.xsd"/>
	
	<xsd:complexType name="ct-A">
		<xsd:sequence minOccurs="1">
			<xsd:element name="a1" type="xsd:int" />
			<xsd:element name="a2" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="e11" type="ct-A" />

</xsd:schema>


