src/System.Private.Xml/tests/XmlSchema/TestFiles/TestData/import_v21_d.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="ns-b"
	xmlns="ns-b"
	xmlns:a="ns-a">

	<xsd:complexType name="ct-d">
		<xsd:sequence minOccurs="1">
			<xsd:element name="a1" type="xsd:string" />
			<xsd:element name="a2" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="e-d" type="ct-d" />

</xsd:schema>
