src/System.Private.Xml/tests/XmlSchema/TestFiles/TestData/import_v21_c.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="ns-b"
	xmlns="ns-b" xmlns:a="ns-a">

	<xsd:complexType name="ct-c">
		<xsd:sequence minOccurs="1">
			<xsd:element name="a1" type="xsd:int" />
			<xsd:element name="a2" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="e-c" type="ct-c" />
	<xsd:element name="foo"/>

</xsd:schema>


