src/System.Private.Xml/tests/XmlSchema/TestFiles/TestData/import_v16_a.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:imp="ns-b">
	<xsd:import namespace="ns-b" />
	<xsd:attributeGroup name="g">
		<xsd:attribute name="att" type="xsd:int"/>
	</xsd:attributeGroup>
	<xsd:complexType name="B">
		<xsd:sequence>
			<xsd:element name="e" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="abc">
		<xsd:complexContent>
			<xsd:extension base="B">
				<xsd:attributeGroup ref="imp:foo"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="doc" type="abc"/>
</xsd:schema>
