src/System.Private.Xml/tests/XmlSchema/TestFiles/TestData/include_v7_b.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified"
targetNamespace="ns-a"
xmlns:b="ns-a"
>
	<xsd:include id="a2" schemaLocation="include_v7_c.xsd"/>

	<xsd:complexType name="ct-B">
		<xsd:sequence minOccurs="1">
			<xsd:element name="b1" type="xsd:boolean" />
			<xsd:element name="b2" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="e2" type="b:ct-B" />
	<xsd:element name="b-e3" type="b:ct-C" />
	
</xsd:schema>
