src/System.Private.Xml/tests/XmlSchema/TestFiles/TestData/include_v6_b.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified"
>


	
	<xsd:complexType name="ct-B">
		<xsd:sequence minOccurs="1">
			<xsd:element name="b1" type="xsd:boolean" />
			<xsd:element name="b2" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="e2" type="ct-B" />
	<xsd:element name="b-e3" type="ct-C" />
</xsd:schema>
