src/System.Private.Xml/tests/XmlSchema/TestFiles/TestData/remove_v10_e8.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="ns-e"
	xmlns="ns-e"
>

	<xsd:import namespace="ns-a"/>

	<xsd:complexType name="ct-D">
		<xsd:sequence minOccurs="1">
			<xsd:element name="a1" type="xsd:int" />
			<xsd:element name="a2" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="e3" type="ct-D" />

</xsd:schema>


