src/System.Private.Xml/tests/XmlSchema/TestFiles/TestData/remove_v11_c.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="ns-c"
	xmlns="ns-c"
	xmlns:b="ns-b" 
	xmlns:d="ns-d" 
>

	<xsd:import namespace="ns-b" schemaLocation="remove_v11_b.xsd"/>
	<xsd:import namespace="ns-d" schemaLocation="remove_v11_d.xsd"/>

	<xsd:complexType name="ct-C">
		<xsd:sequence minOccurs="1">
			<xsd:element name="a1" type="xsd:int" />
			<xsd:element name="a2" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="e1" type="ct-C" />
	<xsd:element name="e2" type="b:ct-B" />
	<xsd:element name="e3" type="d:ct-D" />

</xsd:schema>


