src/System.Private.Xml/tests/XmlSchema/TestFiles/TestData/remove_v11_b.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="ns-b"
xmlns="ns-b" 
xmlns:c="ns-c">

	<xsd:import namespace="ns-c" schemaLocation="remove_v11_c.xsd"/>

	<xsd:complexType name="ct-B">
		<xsd:sequence minOccurs="1">
			<xsd:element name="a1" type="xsd:boolean" />
			<xsd:element name="a2" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="e1" type="ct-B" />
	<xsd:element name="e2" type="c:ct-C" />

	
</xsd:schema>
