src/System.Private.Xml/tests/XmlSchema/TestFiles/TestData/reprocess_v9_c.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
targetNamespace="ns-c" 
xmlns="ns-c">

	<xsd:complexType name="ct-C">
		<xsd:sequence minOccurs="1">
			<xsd:element name="b1" type="xsd:boolean" />
			<xsd:element name="b2" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="e1" type="ct-C" />
	
</xsd:schema>
