src/System.Private.Xml/tests/XmlSchema/TestFiles/TestData/reprocess_v9_a.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="ns-a"
	xmlns:a="ns-a"	
>
	<xsd:import schemaLocation="reprocess_v9_b.xsd" />


	<xsd:complexType name="ct-A">
		<xsd:sequence minOccurs="1">
			<xsd:element name="a1" type="xsd:int" />
			<xsd:element name="a2" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="e1" type="a:ct-A" />
	<xsd:element name="e2" type="ct-B" />
	
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:any namespace="##any" processContents="strict"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>


