src/System.Private.Xml/tests/XmlSchema/TestFiles/StandardTests/xsd10/SCHEMA/schE1_a.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="ns-a"
elementFormDefault="qualified"
xmlns="ns-a"
>

	<xsd:import id="a1" schemaLocation="schE1_b.xsd"/>
	
	<xsd:complexType name="ct-A">
		<xsd:sequence minOccurs="1">
			<xsd:element name="a1" type="xsd:int" />
			<xsd:element name="a2" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="e1" type="ct-A" />
	
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:any namespace="##any" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>


