src/System.Private.Xml/tests/XmlSchema/TestFiles/StandardTests/xsd10/SCHEMA/schH3.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="ns-a"
xmlns="ns-a"
>

	<xsd:redefine />

	<xsd:complexType name="ct-A">
		<xsd:sequence minOccurs="1">
			<xsd:group ref="g-b"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="e1" type="ct-A" />
	
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:any namespace="##any" processContents="strict"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>


