src/System.Private.Xml/tests/XmlSchema/TestFiles/StandardTests/xsd10/complexType/ctA003.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType abstract="1" name="foo"/>
	<xs:element name="root" type="foo"/>
	<xs:complexType name="fixedType">
		<xs:complexContent>
			<xs:restriction base="foo"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
