src/System.Private.Xml/tests/XmlSchema/TestFiles/TestData/EnableUpaCheck/v2-1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="doc">
		<xs:complexType>
			<xs:sequence>
				<xs:choice maxOccurs="2">
					<xs:element name="a" type="xs:string" fixed="def"/>
					<xs:element name="x" type="xs:string" minOccurs="0"/>
				</xs:choice>
				<xs:choice maxOccurs="3">
					<xs:element name="a" type="xs:string" fixed="def"/>
					<xs:element name="y" type="xs:string" minOccurs="0" fixed="123"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
