src/System.Xml/tests/XmlSchema/TestFiles/TestData/XmlSchemaValidatorAPI/NoTargetNamespaceCollection.xsd

<?xml version="1.0" encoding="utf-8" ?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="elem1" />
	<xs:element name="elem2" />
	<xs:element name="elem3" />
	
	<xs:complexType name="type1">
		<xs:sequence>
			<xs:element name="bar" />
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>
