src/System.Private.Xml/tests/XmlSchema/TestFiles/StandardTests/xsd10/attributeGroup/attgC026.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="attgC026vInc.xsd"/>
	<xsd:element name="doc" type="docElem"/>
	<xsd:complexType name="docElem">
		<xsd:sequence>
			<xsd:element name="test" type="testElem"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="testElem">
		<xsd:complexContent>
			<xsd:extension base="foo">
				<xsd:attributeGroup ref="car"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="foo">
		<xsd:attribute name="currency" type="xsd:string"/>
	</xsd:complexType>
</xsd:schema>
