src/System.Private.Xml/tests/XmlSchema/TestFiles/TestData/AllowXmlAttributes/v8-1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="base">
		<xs:attribute name="att1" use="required"/>
		<xs:attribute name="att2" use="optional"/>
	</xs:complexType>

	<xs:element name="doc">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="base">
					<xs:attribute name="att1" use="required"/>
					<xs:attribute name="att2" use="prohibited"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

</xs:schema>
