src/System.Private.Xml/tests/XmlSchema/TestFiles/TestData/AllowXmlAttributes/v9-2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="custom1.xsd" />

	<xs:element name="doc">
	<xs:complexType >
		<xs:attribute name="att1" />
		<xs:attribute name="att2" />
		<xs:anyAttribute namespace="a b c d"/>
	</xs:complexType>
	</xs:element>

</xs:schema>
