src/System.Private.Xml/tests/XmlSchema/TestFiles/TestData/XmlSchemaValidatorAPI/200DefAttributes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StressElement">
    <xs:complexType>
      <xs:attribute name="attr0" type="xs:int" default="0" />
      <xs:attribute name="attr1" type="xs:int" default="1" />
      <xs:attribute name="attr2" type="xs:int" default="2" />
      <xs:attribute name="attr3" type="xs:int" default="3" />
      <xs:attribute name="attr4" type="xs:int" default="4" />
      <xs:attribute name="attr5" type="xs:int" default="5" />
      <xs:attribute name="attr6" type="xs:int" default="6" />
      <xs:attribute name="attr7" type="xs:int" default="7" />
      <xs:attribute name="attr8" type="xs:int" default="8" />
      <xs:attribute name="attr9" type="xs:int" default="9" />
      <xs:attribute name="attr10" type="xs:int" default="10" />
      <xs:attribute name="attr11" type="xs:int" default="11" />
      <xs:attribute name="attr12" type="xs:int" default="12" />
      <xs:attribute name="attr13" type="xs:int" default="13" />
      <xs:attribute name="attr14" type="xs:int" default="14" />
      <xs:attribute name="attr15" type="xs:int" default="15" />
      <xs:attribute name="attr16" type="xs:int" default="16" />
      <xs:attribute name="attr17" type="xs:int" default="17" />
      <xs:attribute name="attr18" type="xs:int" default="18" />
      <xs:attribute name="attr19" type="xs:int" default="19" />
      <xs:attribute name="attr20" type="xs:int" default="20" />
      <xs:attribute name="attr21" type="xs:int" default="21" />
      <xs:attribute name="attr22" type="xs:int" default="22" />
      <xs:attribute name="attr23" type="xs:int" default="23" />
      <xs:attribute name="attr24" type="xs:int" default="24" />
      <xs:attribute name="attr25" type="xs:int" default="25" />
      <xs:attribute name="attr26" type="xs:int" default="26" />
      <xs:attribute name="attr27" type="xs:int" default="27" />
      <xs:attribute name="attr28" type="xs:int" default="28" />
      <xs:attribute name="attr29" type="xs:int" default="29" />
      <xs:attribute name="attr30" type="xs:int" default="30" />
      <xs:attribute name="attr31" type="xs:int" default="31" />
      <xs:attribute name="attr32" type="xs:int" default="32" />
      <xs:attribute name="attr33" type="xs:int" default="33" />
      <xs:attribute name="attr34" type="xs:int" default="34" />
      <xs:attribute name="attr35" type="xs:int" default="35" />
      <xs:attribute name="attr36" type="xs:int" default="36" />
      <xs:attribute name="attr37" type="xs:int" default="37" />
      <xs:attribute name="attr38" type="xs:int" default="38" />
      <xs:attribute name="attr39" type="xs:int" default="39" />
      <xs:attribute name="attr40" type="xs:int" default="40" />
      <xs:attribute name="attr41" type="xs:int" default="41" />
      <xs:attribute name="attr42" type="xs:int" default="42" />
      <xs:attribute name="attr43" type="xs:int" default="43" />
      <xs:attribute name="attr44" type="xs:int" default="44" />
      <xs:attribute name="attr45" type="xs:int" default="45" />
      <xs:attribute name="attr46" type="xs:int" default="46" />
      <xs:attribute name="attr47" type="xs:int" default="47" />
      <xs:attribute name="attr48" type="xs:int" default="48" />
      <xs:attribute name="attr49" type="xs:int" default="49" />
      <xs:attribute name="attr50" type="xs:int" default="50" />
      <xs:attribute name="attr51" type="xs:int" default="51" />
      <xs:attribute name="attr52" type="xs:int" default="52" />
      <xs:attribute name="attr53" type="xs:int" default="53" />
      <xs:attribute name="attr54" type="xs:int" default="54" />
      <xs:attribute name="attr55" type="xs:int" default="55" />
      <xs:attribute name="attr56" type="xs:int" default="56" />
      <xs:attribute name="attr57" type="xs:int" default="57" />
      <xs:attribute name="attr58" type="xs:int" default="58" />
      <xs:attribute name="attr59" type="xs:int" default="59" />
      <xs:attribute name="attr60" type="xs:int" default="60" />
      <xs:attribute name="attr61" type="xs:int" default="61" />
      <xs:attribute name="attr62" type="xs:int" default="62" />
      <xs:attribute name="attr63" type="xs:int" default="63" />
      <xs:attribute name="attr64" type="xs:int" default="64" />
      <xs:attribute name="attr65" type="xs:int" default="65" />
      <xs:attribute name="attr66" type="xs:int" default="66" />
      <xs:attribute name="attr67" type="xs:int" default="67" />
      <xs:attribute name="attr68" type="xs:int" default="68" />
      <xs:attribute name="attr69" type="xs:int" default="69" />
      <xs:attribute name="attr70" type="xs:int" default="70" />
      <xs:attribute name="attr71" type="xs:int" default="71" />
      <xs:attribute name="attr72" type="xs:int" default="72" />
      <xs:attribute name="attr73" type="xs:int" default="73" />
      <xs:attribute name="attr74" type="xs:int" default="74" />
      <xs:attribute name="attr75" type="xs:int" default="75" />
      <xs:attribute name="attr76" type="xs:int" default="76" />
      <xs:attribute name="attr77" type="xs:int" default="77" />
      <xs:attribute name="attr78" type="xs:int" default="78" />
      <xs:attribute name="attr79" type="xs:int" default="79" />
      <xs:attribute name="attr80" type="xs:int" default="80" />
      <xs:attribute name="attr81" type="xs:int" default="81" />
      <xs:attribute name="attr82" type="xs:int" default="82" />
      <xs:attribute name="attr83" type="xs:int" default="83" />
      <xs:attribute name="attr84" type="xs:int" default="84" />
      <xs:attribute name="attr85" type="xs:int" default="85" />
      <xs:attribute name="attr86" type="xs:int" default="86" />
      <xs:attribute name="attr87" type="xs:int" default="87" />
      <xs:attribute name="attr88" type="xs:int" default="88" />
      <xs:attribute name="attr89" type="xs:int" default="89" />
      <xs:attribute name="attr90" type="xs:int" default="90" />
      <xs:attribute name="attr91" type="xs:int" default="91" />
      <xs:attribute name="attr92" type="xs:int" default="92" />
      <xs:attribute name="attr93" type="xs:int" default="93" />
      <xs:attribute name="attr94" type="xs:int" default="94" />
      <xs:attribute name="attr95" type="xs:int" default="95" />
      <xs:attribute name="attr96" type="xs:int" default="96" />
      <xs:attribute name="attr97" type="xs:int" default="97" />
      <xs:attribute name="attr98" type="xs:int" default="98" />
      <xs:attribute name="attr99" type="xs:int" default="99" />
      <xs:attribute name="attr100" type="xs:int" default="100" />
      <xs:attribute name="attr101" type="xs:int" default="101" />
      <xs:attribute name="attr102" type="xs:int" default="102" />
      <xs:attribute name="attr103" type="xs:int" default="103" />
      <xs:attribute name="attr104" type="xs:int" default="104" />
      <xs:attribute name="attr105" type="xs:int" default="105" />
      <xs:attribute name="attr106" type="xs:int" default="106" />
      <xs:attribute name="attr107" type="xs:int" default="107" />
      <xs:attribute name="attr108" type="xs:int" default="108" />
      <xs:attribute name="attr109" type="xs:int" default="109" />
      <xs:attribute name="attr110" type="xs:int" default="110" />
      <xs:attribute name="attr111" type="xs:int" default="111" />
      <xs:attribute name="attr112" type="xs:int" default="112" />
      <xs:attribute name="attr113" type="xs:int" default="113" />
      <xs:attribute name="attr114" type="xs:int" default="114" />
      <xs:attribute name="attr115" type="xs:int" default="115" />
      <xs:attribute name="attr116" type="xs:int" default="116" />
      <xs:attribute name="attr117" type="xs:int" default="117" />
      <xs:attribute name="attr118" type="xs:int" default="118" />
      <xs:attribute name="attr119" type="xs:int" default="119" />
      <xs:attribute name="attr120" type="xs:int" default="120" />
      <xs:attribute name="attr121" type="xs:int" default="121" />
      <xs:attribute name="attr122" type="xs:int" default="122" />
      <xs:attribute name="attr123" type="xs:int" default="123" />
      <xs:attribute name="attr124" type="xs:int" default="124" />
      <xs:attribute name="attr125" type="xs:int" default="125" />
      <xs:attribute name="attr126" type="xs:int" default="126" />
      <xs:attribute name="attr127" type="xs:int" default="127" />
      <xs:attribute name="attr128" type="xs:int" default="128" />
      <xs:attribute name="attr129" type="xs:int" default="129" />
      <xs:attribute name="attr130" type="xs:int" default="130" />
      <xs:attribute name="attr131" type="xs:int" default="131" />
      <xs:attribute name="attr132" type="xs:int" default="132" />
      <xs:attribute name="attr133" type="xs:int" default="133" />
      <xs:attribute name="attr134" type="xs:int" default="134" />
      <xs:attribute name="attr135" type="xs:int" default="135" />
      <xs:attribute name="attr136" type="xs:int" default="136" />
      <xs:attribute name="attr137" type="xs:int" default="137" />
      <xs:attribute name="attr138" type="xs:int" default="138" />
      <xs:attribute name="attr139" type="xs:int" default="139" />
      <xs:attribute name="attr140" type="xs:int" default="140" />
      <xs:attribute name="attr141" type="xs:int" default="141" />
      <xs:attribute name="attr142" type="xs:int" default="142" />
      <xs:attribute name="attr143" type="xs:int" default="143" />
      <xs:attribute name="attr144" type="xs:int" default="144" />
      <xs:attribute name="attr145" type="xs:int" default="145" />
      <xs:attribute name="attr146" type="xs:int" default="146" />
      <xs:attribute name="attr147" type="xs:int" default="147" />
      <xs:attribute name="attr148" type="xs:int" default="148" />
      <xs:attribute name="attr149" type="xs:int" default="149" />
      <xs:attribute name="attr150" type="xs:int" default="150" />
      <xs:attribute name="attr151" type="xs:int" default="151" />
      <xs:attribute name="attr152" type="xs:int" default="152" />
      <xs:attribute name="attr153" type="xs:int" default="153" />
      <xs:attribute name="attr154" type="xs:int" default="154" />
      <xs:attribute name="attr155" type="xs:int" default="155" />
      <xs:attribute name="attr156" type="xs:int" default="156" />
      <xs:attribute name="attr157" type="xs:int" default="157" />
      <xs:attribute name="attr158" type="xs:int" default="158" />
      <xs:attribute name="attr159" type="xs:int" default="159" />
      <xs:attribute name="attr160" type="xs:int" default="160" />
      <xs:attribute name="attr161" type="xs:int" default="161" />
      <xs:attribute name="attr162" type="xs:int" default="162" />
      <xs:attribute name="attr163" type="xs:int" default="163" />
      <xs:attribute name="attr164" type="xs:int" default="164" />
      <xs:attribute name="attr165" type="xs:int" default="165" />
      <xs:attribute name="attr166" type="xs:int" default="166" />
      <xs:attribute name="attr167" type="xs:int" default="167" />
      <xs:attribute name="attr168" type="xs:int" default="168" />
      <xs:attribute name="attr169" type="xs:int" default="169" />
      <xs:attribute name="attr170" type="xs:int" default="170" />
      <xs:attribute name="attr171" type="xs:int" default="171" />
      <xs:attribute name="attr172" type="xs:int" default="172" />
      <xs:attribute name="attr173" type="xs:int" default="173" />
      <xs:attribute name="attr174" type="xs:int" default="174" />
      <xs:attribute name="attr175" type="xs:int" default="175" />
      <xs:attribute name="attr176" type="xs:int" default="176" />
      <xs:attribute name="attr177" type="xs:int" default="177" />
      <xs:attribute name="attr178" type="xs:int" default="178" />
      <xs:attribute name="attr179" type="xs:int" default="179" />
      <xs:attribute name="attr180" type="xs:int" default="180" />
      <xs:attribute name="attr181" type="xs:int" default="181" />
      <xs:attribute name="attr182" type="xs:int" default="182" />
      <xs:attribute name="attr183" type="xs:int" default="183" />
      <xs:attribute name="attr184" type="xs:int" default="184" />
      <xs:attribute name="attr185" type="xs:int" default="185" />
      <xs:attribute name="attr186" type="xs:int" default="186" />
      <xs:attribute name="attr187" type="xs:int" default="187" />
      <xs:attribute name="attr188" type="xs:int" default="188" />
      <xs:attribute name="attr189" type="xs:int" default="189" />
      <xs:attribute name="attr190" type="xs:int" default="190" />
      <xs:attribute name="attr191" type="xs:int" default="191" />
      <xs:attribute name="attr192" type="xs:int" default="192" />
      <xs:attribute name="attr193" type="xs:int" default="193" />
      <xs:attribute name="attr194" type="xs:int" default="194" />
      <xs:attribute name="attr195" type="xs:int" default="195" />
      <xs:attribute name="attr196" type="xs:int" default="196" />
      <xs:attribute name="attr197" type="xs:int" default="197" />
      <xs:attribute name="attr198" type="xs:int" default="198" />
      <xs:attribute name="attr199" type="xs:int" default="199" />
    </xs:complexType>
  </xs:element>
</xs:schema>