src/System.Private.Xml/tests/XmlSchema/TestFiles/StandardTests/xsd10/PARTICLES/particlesA002.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:all minOccurs="1" maxOccurs="1">
				<xsd:element name="elem" type="elem"/>
				<xsd:element name="elem1"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="elem">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="elem"/>
			<xsd:element name="elem1"/>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
